@charset "UTF-8";
/* 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:wght@100;300;400;500&display=swap");
.cabecera {
  top: 0;
  z-index: 20;
  width: 100%;
  height: 15%;
  position: sticky; }

.cabeceraSuperior {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: white; }

.cabeceraSuperior1 {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  gap: 1rem; }
  .cabeceraSuperior1 img {
    height: 25px; }

.cabeceraSuperior2 {
  display: flex;
  flex-direction: row;
  height: 25%;
  justify-content: flex-end;
  padding-right: 1rem; }

/* .cabeceraInferior{
    border-bottom: solid 2px #6CCC9D;
    border-top: solid 1px #2d7552cb;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0.5em;
    img{
        vertical-align: middle;
    }

    a{
        font-family: 'Roboto', sans-serif; color: black;
        font-weight: 500;
        text-decoration: none;
    }
}


.cabeceraInferiorUbicacion{
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    a{
        img{
            height: 25px;
            vertical-align: middle;
        }
    }
}

.cabeceraInferiorRedes{
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    a{
        img{
            height: 25px;
            vertical-align: middle;
        }
    }
} */
.navbar {
  border-bottom: solid 2px #6CCC9D;
  border-top: solid 1px #2d7552cb; }

.submenu1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  list-style: none;
  /* visibility: hidden; */
  /* opacity: 0 */ }
  .submenu1 a {
    text-decoration: none;
    color: black; }

.submenuPadre nav-link:hover .submenu1 {
  visibility: visible;
  opacity: 1; }

main {
  padding: 1%;
  justify-content: center;
  z-index: 0; }

.wapp {
  position: fixed;
  z-index: 10;
  bottom: 30px;
  right: 30px;
  text-align: left; }
  .wapp img {
    width: 65px;
    height: auto; }

.tituloPortada {
  background: #9ec3a8;
  background: linear-gradient(90deg, rgba(158, 195, 168, 0.5) 0%, rgba(75, 103, 80, 0.5) 30%, rgba(111, 147, 120, 0.5) 75%);
  border: solid 1px black;
  border-radius: 50px; }

h1 {
  vertical-align: middle;
  padding-top: 1%;
  font-family: 'Roboto', sans-serif;
  color: black;
  font-weight: 800; }

.carousel {
  z-index: 0; }

.pagoyenvios {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1%;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 400;
  border-bottom: solid 2px #6CCC9D;
  border-top: solid 2px #6CCC9D;
  /* background-color: rgb(110, 109, 109); */
  background: #706969;
  background: linear-gradient(180deg, #706969 28%, #959595 85%); }

.pagoyenviosPago, .pagoyenviosPlanes, .pagoyenviosEnvios {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center; }
  .pagoyenviosPago img, .pagoyenviosPlanes img, .pagoyenviosEnvios img {
    height: 40px; }
    @media screen and (max-width: 768px) {
      .pagoyenviosPago img, .pagoyenviosPlanes img, .pagoyenviosEnvios img {
        height: 28px; } }

.pagoyenviosPlanes img {
  height: 45px; }
  @media screen and (max-width: 768px) {
    .pagoyenviosPlanes img {
      height: 45px; } }

.tituloOfertas {
  display: block;
  text-align: center; }

.card-link {
  text-decoration: none; }

.principalesOfertas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  .principalesOfertas .p-3 {
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; }
  .principalesOfertas .p-3::before {
    content: "";
    background-image: conic-gradient(#6CCC9D 20deg, transparent 120deg);
    width: 150%;
    height: 150%;
    position: absolute;
    animation: rotate 2s  ease-in-out; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }
  .principalesOfertas .card:hover {
    transform: perspective(700px);
    transform-origin: center center -30px; }
    .principalesOfertas .card:hover .card-link {
      box-shadow: 0 2px 5px #3c3c3c;
      font-weight: 500;
      border-radius: 5px;
      padding: 1%; }

@keyframes bordeBrillante2 {
  0% {
    border: solid 3px #000000; }
  50% {
    border: solid 3px white; }
  100% {
    border: solid 3px #000000; } }

.precioOferta {
  font-size: 22px;
  color: white;
  font-weight: 800; }

.pie {
  text-align: center;
  vertical-align: middle;
  padding-top: 1%;
  font-family: 'Roboto', sans-serif;
  color: black;
  font-weight: 400;
  border-top: solid 2px #6CCC9D; }

.pieLogo {
  text-align: center;
  padding-bottom: 1%; }

.pieLinksIzq {
  text-align: right;
  font-family: 'Roboto', sans-serif, sans-serif;
  color: black;
  font-weight: 400;
  padding: 0.3em;
  text-decoration: none;
  list-style: none; }
  .pieLinksIzq a {
    text-align: right;
    font-family: 'Roboto', sans-serif, sans-serif;
    color: black;
    font-weight: 400;
    padding: 0.3em;
    text-decoration: none;
    list-style: none; }
  .pieLinksIzq img {
    height: 20px;
    vertical-align: middle; }

.pieLinksDer {
  text-align: left;
  font-family: 'Roboto', sans-serif, sans-serif;
  color: black;
  font-weight: 400;
  padding: 0.3em;
  text-decoration: none;
  list-style: none; }
  .pieLinksDer a {
    text-align: left;
    font-family: 'Roboto', sans-serif, sans-serif;
    color: black;
    font-weight: 400;
    padding: 0.3em;
    text-decoration: none;
    list-style: none; }
  .pieLinksDer img {
    height: 22px;
    vertical-align: middle; }

@media screen and (max-width: 800px) {
  h1 {
    font-size: 22px; }
  a {
    font-size: 12px; } }

.tituloImpresoras {
  text-align: center;
  color: white; }

.contenedorTarjetas {
  height: 80%; }

.contenedorTarjetasImpresoras {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .contenedorTarjetasImpresoras .p-3 {
    border: none; }
  .contenedorTarjetasImpresoras .card {
    font-size: 23px;
    font-weight: 600; }
  .contenedorTarjetasImpresoras .card:hover {
    transform: perspective(700px);
    transform-origin: center center -30px;
    box-shadow: 0 0 10px #3c3c3c, 0 0 20px #3c3c3c, 0 0 20px #6CCC9D, 0 0 80px #6CCC9D; }
    .contenedorTarjetasImpresoras .card:hover .card-link {
      box-shadow: 0 2px 5px #3c3c3c;
      font-weight: 500;
      border-radius: 5px;
      padding: 1%; }

@keyframes bordeBrillante {
  0% {
    border: solid 3px white; }
  50% {
    border: solid 3px black; }
  100% {
    border: solid 3px white; } }

.card-img-top {
  height: 300px;
  width: auto; }

@media screen and (max-width: 1000px) {
  .tarjetaProducto img {
    height: 300px; } }

.tituloContacto {
  text-align: center;
  color: white; }

.contenedorMapas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.mapa {
  width: 600px;
  height: 400px;
  padding-bottom: 2%;
  border: none;
  border-radius: 2%; }

@media screen and (max-width: 650px) {
  .mapa {
    width: 350px;
    height: 250px; } }

.tituloMapa {
  text-align: center; }

.formularioContacto {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .formularioContacto h2 {
    text-align: center; }
  .formularioContacto form {
    border: solid 1px white;
    padding: 1%; }

.tituloFila {
  padding-left: 15%;
  padding-right: 15%; }
  .tituloFila h1 {
    color: white;
    text-align: center; }
  .tituloFila img {
    height: 75px;
    width: auto; }
  .tituloFila div {
    display: flex;
    justify-content: center; }

.fila1, .fila2, .fila3 {
  animation: float 2s ease-in-out infinite; }

.fila2 {
  animation-delay: 0.5s; }

.fila3 {
  animation-delay: 1s; }

@keyframes float {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-20px); }
  100% {
    transform: translateY(0); } }

.introFila {
  font-weight: 600; }

.contenedorTarjetasColores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: 1%; }
  .contenedorTarjetasColores .card-title {
    font-size: 14px; }

.card-title {
  font-size: 16px; }

.botonAgregarCarrito {
  background-color: white;
  font-weight: 500;
  color: white;
  border: solid 2 px black;
  width: auto; }

.indiceFila {
  font-weight: 400;
  color: white;
  padding: 0%; }
  .indiceFila h2 {
    padding: 0%;
    text-align: center; }
  .indiceFila a {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    transition: all 0.3s; }
    .indiceFila a:hover {
      font-size: 22px; }
  .indiceFila .a--PLA {
    color: #d31c1c; }
  .indiceFila .a--PETG {
    color: #2745b0; }
  .indiceFila .a--SIMPLIFLEX {
    color: #cbdd62; }
  .indiceFila ol {
    list-style: none;
    text-align: center; }

.especFila {
  border: solid 2px;
  color: black;
  border-radius: 5px;
  padding: 2%;
  background-color: white;
  margin-left: 25px;
  margin-right: 25px; }

.formFila {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1%; }
  .formFila select {
    width: 180px; }
  .formFila input {
    width: 120px; }

.tituloBlog {
  color: white;
  text-align: center; }

.indiceBlog {
  /* background-image: linear-gradient(to right, #03cabd, #2fb2aa, #3f9a96, #488381, #4c6c6c, #4c6c6c, #4c6c6c, #4c6c6c, #488381, #3f9a96, #2fb2aa, #03cabd); */
  font-weight: 400;
  color: white;
  padding: 0%;
  text-align: center; }
  .indiceBlog h2 {
    padding: 0%;
    text-align: center; }
  .indiceBlog a {
    font-weight: 400;
    color: white;
    font-size: 20px;
    transition: all 0.3s;
    display: block; }
  .indiceBlog a:hover {
    font-size: 22px; }

.articuloBlog {
  background-color: white;
  border: solid 1px black;
  border-radius: 5px;
  padding: 2%;
  margin-left: 25px;
  margin-right: 25px; }

/* @import "_index.scss";
@import "_filamentos.scss"; */
.caratulaImpresora {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  vertical-align: middle;
  align-items: center;
  height: 120px; }
  .caratulaImpresora img {
    height: 60px; }
  .caratulaImpresora h1 {
    color: white;
    padding: 0;
    margin: 0;
    align-items: middle; }

.nombreImpresora {
  width: 40%;
  justify-content: center;
  text-align: center; }

.logoMarca {
  width: 40%;
  text-align: center; }

.contenedorCaracteristicas {
  display: flex;
  justify-content: center; }

.listaCaracteristicas {
  list-style: url(../assets/img/viñetaflecha.png);
  line-height: 1.8; }

.card-title {
  font-weight: 600;
  font-size: 25px; }

/* .precioFoto{
    @extend .tituloPortada;
    color: white;
    font-size: 30px;
    font-weight: 600;
} */
.tarjetaPrecio {
  display: flex;
  flex-wrap: nowrap;
  vertical-align: middle;
  align-items: center;
  justify-content: space-between; }

.precioImpresora {
  border: solid 2px black;
  border-radius: 10px;
  background-color: black;
  align-items: center;
  vertical-align: middle;
  padding: 1%;
  font-family: "Kdam Thmor Pro", sans-serif; }
  .precioImpresora h2 {
    padding: 0; }

.videoImpresora {
  display: flex;
  justify-content: center; }
  .videoImpresora iframe {
    width: 1000;
    height: 500; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

img {
  height: 30px; }

h2 {
  font-family: 'Roboto', sans-serif, sans-serif;
  text-align: left; }

h4 {
  font-family: 'Roboto', sans-serif, sans-serif;
  color: #fc4a4a;
  font-size: 35px;
  text-align: center;
  padding: 2%; }
