/* @import "_index.scss";
@import "_filamentos.scss"; */
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:wght@100;300;400;500&display=swap');

.caratulaImpresora{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    vertical-align: middle;
    align-items: center;
    height: 120px;
    img{
        height: 60px;
    }
    h1{
        color: white;
        padding: 0;
        margin: 0;
        align-items: middle;
    }
}

.nombreImpresora{
    width: 40%;
    justify-content: center;
    text-align: center;
}

.logoMarca{
    width: 40%;
    text-align: center;
}

.contenedorCaracteristicas{
    display: flex;
    justify-content: center;
}



.listaCaracteristicas{
    list-style: url(../assets/img/viñetaflecha.png);
    line-height: 1.8;
}

.card-title{
    font-weight: 600;
    font-size: 25px;
}

/* .precioFoto{
    @extend .tituloPortada;
    color: white;
    font-size: 30px;
    font-weight: 600;
} */

.tarjetaPrecio{
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
}

.precioImpresora1{
    border: solid 2px black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: black;
    align-items: center;
    vertical-align: middle;
    padding: 1%;
    font-family: "Kdam Thmor Pro", sans-serif;
    h2{
        padding: 0;
    }
}

.precioImpresora2{
    border: solid 2px black;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
    align-items: center;
    vertical-align: middle;
    padding: 1%;
    font-family: "Kdam Thmor Pro", sans-serif;
    h2{
        padding: 0;
    }
    
}


.videoImpresora{
    display: flex;
    justify-content: center;
    iframe{
        width: 1000;
        height: 500;
    }
}