.listaCarrito{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    @media screen and (max-width: 450px){
        font-size: 10px;
    }

    .tarjetaItem{
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;
        div{
            width: 175px;
            
        }
        .actualizarCarrito{
            display: flex;
            justify-content: center;
            gap: 10px;
        }
        .botonActualizarCantidad{
            background: none;
            border: none;
        }
        .precioSubtotal{
            display: flex;
            flex-direction: column;
        }
    }    

    h2{
        color: white;
        text-align: center;
    }

    .contenedorTabla{
        display: flex;
        justify-content: center;
    }

    .finalizarCompra{
        display: flex;
        justify-content: space-around;
    }
}

.totalCarrito{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    gap: 5px;
    color: white;
    
    h6{
        font-size: 20px;
    }
    
}

.actualizarCantidadCarrito{
    width: 60px;
}

.botonEliminarCarrito{
    background:none;
    border: none;
}