@import "_variables.scss";

.tituloContacto{
    text-align: center;
    color: white;
}

.contenedorMapas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mapa{
    @include tamaño(600px, 400px);
    padding-bottom: 2%;
    border: none;
    border-radius: 2%;
}

@media screen and (max-width: 650px){
    .mapa{
        @include tamaño(450px, 300px);
    }
}


.tituloMapa{
    text-align: center;
}

.formularioContacto{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        text-align: center;
    }

    form{
        border: solid 1px white;
        padding: 1%;
    }
}