
.submenu1{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    list-style: none;
    /* visibility: hidden; */
    /* opacity: 0 */;
    a{
        text-decoration: none;
        color: black;
    }
}

.submenuPadre nav-link:hover{
    .submenu1{
        visibility: visible;
        opacity: 1;
    }
}
   

main{
    padding: 1%;
    justify-content: center;
    z-index: 0;
}

.wapp{
    position: fixed;
    z-index: 10;
    bottom: 30px;
    right: 30px;
    text-align: left;
    img{
        width: 65px;
        height: auto;
    }
}


.tituloPortada{
    background: rgb(158,195,168);
    background: linear-gradient(90deg, rgba(158,195,168,0.5) 0%, rgba(75,103,80,0.5) 30%, rgba(111,147,120,0.5) 75%);
    border: solid 1px black;
    border-radius: 50px;
}


h1{
    vertical-align: middle;
    padding-top: 1%;
    font-family: 'Roboto', sans-serif; color: rgb(0, 0, 0);
    font-weight: 800;
}

.carousel{
    z-index: 0;
}

.pagoyenvios{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1%;
    font-family: 'Roboto', sans-serif; color: white;
    font-weight: 400;
    border-bottom: solid 2px #6CCC9D;
    border-top: solid 2px #6CCC9D;
    /* background-color: rgb(110, 109, 109); */
    background: rgb(112,105,105);
    background: linear-gradient(180deg, rgba(112,105,105,1) 28%, rgba(149,149,149,1) 85%);
}

.pagoyenviosPago{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    img{
        height: 40px;
        @media screen and (max-width: 768px) {
            height: 28px;
        }
    }
}

.pagoyenviosPlanes{
    @extend .pagoyenviosPago;
    img{
        height: 45px;
        @media screen and (max-width: 768px) {
            height: 45px;
        }
    }
}

.pagoyenviosEnvios{
    @extend .pagoyenviosPago;
}


.tituloOfertas{
    display: block;
    text-align: center;
}

.card-link{
    text-decoration: none;
}

.principalesOfertas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


    .p-3 {
        box-shadow: 16px 14px 20px #0000008c;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p-3::before{
        content: "";
        background-image: conic-gradient(
            #6CCC9D 20deg,
            transparent 120deg
        );
        width: 150%;
        height: 150%;
        position: absolute;
        animation: rotate 2s  ease-in-out;
    }

    @keyframes rotate {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(-360deg);
        }
    }
    
    .card:hover{
        transform: perspective(700px);
        transform-origin: center center -30px;
        .card-link{
            box-shadow: 0 2px 5px #3c3c3c;
            font-weight: 500;
            border-radius: 5px;
            padding: 1%;
        }
    }

}



@keyframes bordeBrillante2{
    0%{
        border: solid 3px #000000;
    }
    50%{
        border: solid 3px white;
    }
    100%{
        border: solid 3px #000000;
    }
}

.precioOferta{
    font-size: 22px;
    color: white;
    font-weight: 800;
}

