main{
    padding: 1%;
    justify-content: center;
}

.wapp{
    position: fixed;
    z-index: 10;
    bottom: 30px;
    right: 30px;
    text-align: left;
    img{
        width: 65px;
        height: auto;
    }
}


.tituloPortada{
    background: rgb(158,195,168);
    background: linear-gradient(90deg, rgba(158,195,168,0.5) 0%, rgba(75,103,80,0.5) 30%, rgba(111,147,120,0.5) 75%);
    border: solid 1px black;
    border-radius: 50px;
}


h1{
    height: 7vh;
    vertical-align: middle;
    padding-top: 1%;
    font-family: 'Roboto', sans-serif; color: rgb(0, 0, 0);
    font-weight: 800;
}


.pagoyenvios{
    padding: 1%;
    font-family: 'Roboto', sans-serif; color: white;
    font-weight: 400;
    border-bottom: solid 2px #2d7552cb;
    border-top: solid 2px #2d7552cb;
    background-image: linear-gradient(to right, #03cabd, #2fb2aa, #3f9a96, #488381, #4c6c6c, #4c6c6c, #4c6c6c, #4c6c6c, #488381, #3f9a96, #2fb2aa, #03cabd);
}

.pagoyenviosPago{
    height: 10%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
}

.pagoyenviosEnvios{
    height: 10%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
}

#imagenpago{
    height: 3em;
    width: auto;
    vertical-align: middle;
}

#imagenenvios{
    height: 3em;
    width: auto;
    vertical-align: middle;
}

.tituloOfertas{
    display: block;
    text-align: center;
}

.principalesOfertas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .p-3{
        border: none;
        background-image: linear-gradient(to right, #03cabd, #2fb2aa, #3f9a96, #488381, #4c6c6c, #4c6c6c, #4c6c6c, #4c6c6c, #488381, #3f9a96, #2fb2aa, #03cabd);;
    }
    
/*     .p-3:hover{
        animation: bordeBrillante 1.5s ease-in-out infinite;
    } */
    

    .card:hover{
        transform: perspective(700px);
        transform-origin: center center -30px;
    }
}

@keyframes bordeRojo{
    0%{
        border: solid 5px rgb(216, 2, 2);
    }
    50%{
        border: solid 5px rgb(255, 255, 255);
    }
    100%{
        border: solid 5px rgb(216, 2, 2);
    }
}

.precioOferta{
    font-size: 22px;
    color: white;
    font-weight: 800;
}