$colorFila:(
    PLA: #d31c1c,
    PETG: #2745b0,
    SIMPLIFLEX: #cbdd62
);

@mixin tamaño($width, $height){
    width: $width;
    height: $height;
}

$letraDestacada: (
    color: white,
    pesoLetra: 600,
);